################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/DataStructureUnitTest/obj
/.vs
/DataStructureUnitTest/bin/Debug/netcoreapp3.1
/TestResults
